<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- STAGED: to enable Per-Monitor V2 (see app.manifest), also uncomment the WinForms DpiAwareness section
         below so WinForms scales its controls per-monitor. Do NOT enable without mixed-DPI testing (BUILD-03).
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
    </System.Windows.Forms.ApplicationConfigurationSection>
    -->
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TTMulti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TTMulti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TTMulti.Properties.Settings>
            <setting name="sendDeleteToRightOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="onTopWhenInactive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="compactUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="expressGroupFocus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numberOfGroups" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="disableKeepAlive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="modeKeyCode" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="leftJumpKeyCode" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="leftThrowKeyCode" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="leftEscapeKeyCode" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="leftForwardKeyCode" serializeAs="String">
                <value>87</value>
            </setting>
            <setting name="leftLeftKeyCode" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="leftBackKeyCode" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="leftRightKeyCode" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="rightJumpKeyCode" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="rightThrowKeyCode" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="rightEscapeKeyCode" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="rightForwardKeyCode" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="rightLeftKeyCode" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="rightBackKeyCode" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="rightRightKeyCode" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="keepAliveKeyCode" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="keyBindings" serializeAs="String">
                <value />
            </setting>
            <setting name="leftKeys" serializeAs="String">
                <value />
            </setting>
            <setting name="rightKeys" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="runAsAdministrator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="controlAllGroupsKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="individualControlKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="replicateMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="replicateMouseKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastGroupsFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="groupModeKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mirrorModeKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="groupModeCycleWithModeHotkey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mirrorModeCycleWithModeHotkey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="allGroupModeCycleWithModeHotkey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customModeCycleWithModeHotkey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastActiveCustomModeId" serializeAs="String">
                <value />
            </setting>
            <setting name="modeLockToggleKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="suspendGlobalHotkeysToggleKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mirrorGroupModeKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mirrorGroupModeCycleWithModeHotkey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pairModeKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="enableClickToChangeControllers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="zeroPowerThrowKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoFindWindowsKeyCode" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="autoFindWindowsKeyModifiers" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="autoFindExecutables" serializeAs="String">
                <value>CorporateClash.exe;TTREngine64.exe</value>
            </setting>
            <setting name="layoutPriorityLeftsFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="switchingModeSwitchKeyCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="switchingModeRemoveKeyCode" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="switchingModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="switchingModeKeyCode" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="replicateMouseHotkeyGlobal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zeroPowerThrowHotkeyGlobal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zeroPowerThrowEnableFocusMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zeroPowerThrowNoActivate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableCaptionColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tintControllerTitleBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="compactUIToggleKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="controllerUIScaleIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="mirrorModeBorderColor" serializeAs="String">
                <value>-1146130</value>
            </setting>
            <setting name="borderWidth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="borderCornerRadius" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="multiModeLeftBorderColor" serializeAs="String">
                <value>-13447886</value>
            </setting>
            <setting name="multiModeRightBorderColor" serializeAs="String">
                <value>-16751616</value>
            </setting>
            <setting name="switchingModeColor" serializeAs="String">
                <value>-701616</value>
            </setting>
            <setting name="switchingSelectedColor" serializeAs="String">
                <value>-736628</value>
            </setting>
            <setting name="switchingSwitchedColor" serializeAs="String">
                <value>-1206214</value>
            </setting>
            <setting name="switchingRemovedColor" serializeAs="String">
                <value>-9868951</value>
            </setting>
            <setting name="focusedModeFocusedColor" serializeAs="String">
                <value>-8662817</value>
            </setting>
            <setting name="focusedModeUnfocusedColor" serializeAs="String">
                <value>-10516785</value>
            </setting>
            <setting name="controlledMulticlickEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="controlledMulticlickActivateKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="controlledMulticlickActivateHold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="controlledMulticlickActivateGlobal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="controlledMulticlickRegularClickTriggerOnRelease" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="controlledMulticlickRegularClickKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="controlledMulticlickRegularClickUseMouseButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="controlledMulticlickRegularClickMouseButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="controlledMulticlickMirrorLeftUseMouseButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="controlledMulticlickMirrorLeftMouseButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="controlledMulticlickMirrorLeftKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="controlledMulticlickMirrorRightUseMouseButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="controlledMulticlickMirrorRightMouseButton" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="controlledMulticlickMirrorRightKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="controlledMulticlickRegularClickRightUseMouseButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="controlledMulticlickRegularClickRightMouseButton" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="controlledMulticlickRegularClickRightKeyCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="controlledMulticlickRegularClickRightTriggerOnRelease" serializeAs="String">
                <value>False</value>
            </setting>
        </TTMulti.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup><applicationSettings>
        <TTMulti.Properties.Settings>
            <setting name="homepageUrl" serializeAs="String">
                <value>https://github.com/kittkittlou/ttmulticontroller</value>
            </setting>
        </TTMulti.Properties.Settings>
    </applicationSettings>
</configuration>
